<div class="propertyDetails">
    <h2>Property details</h2>
  
    <table>
      <tr>
        <td>Property Id : </td>
        <td>{{property.propertyId}}</td>
      </tr>
      <tr>
        <td>Property Name : </td>
        <td>{{property.propertyName}}</td>
      </tr>
      <tr>
        <td>Property Rating : </td>
        <td>{{property.propertyRating}}</td>
      </tr>
      <tr>
        <td>City : </td>
        <td>{{property.cityName}}</td>
      </tr>
      <tr>
        <td>Address : </td>
        <td>{{property.address}}</td>
      </tr>
      <tr>
        <td>Image : </td>
        <td>{{property.image}} </td>
      </tr>
      <tr>
        <td>Price :  </td>
        <td>{{property.price}}</td>
      </tr>
      <tr>
        <td>Features : </td>
        <td>{{property.features}}</td>
      </tr>
  
    </table>
    <br>
    <a class="btn btn-small btn-warning" (click)="editProperty()">edit</a> 
    <a class="btn btn-small btn-danger" (click)="deleteProperty()"> delete</a>
  </div>

