

    
    <div> 
        <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:linear-gradient(lightseagreen,blue);" >
            <div class="container-fluid" >
              <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  <!-- <li class="nav-item">
                    
                    <a class="nav-link" routerLink="/admin/owners">Owners</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/properties">Properties</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/features">Features</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/messages">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/reservations">Reservations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="padding-right:95% ;">Logout</a>
                    </li>
                 
                
                </ul>
                <!--<form class="d-flex">
                  <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>-->
                  <!--(click)="ser()"-->
                  
              </div>
            </div>
          </nav>
        </header></div>
    
    
    <h1> Features</h1>
    <a class="btn btn-primary mb-3" (click)="addFeature()">add</a>
    <div class="container row">
        <div   class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let feature of features" >
            <td>{{feature.featureId}}</td>
            <td>{{feature.featureName}}</td>
            <td><button type="button" class="btn btn-primary" (click)="viewFeature(feature.featureId)">Show Details</button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div   class="col-md-6">
        <app-addfeature *ngIf= "action === 'edit' || action === 'add'"  [feature]="selectedFeature"  (featureAddedEvent)="refreshData()"></app-addfeature>
        <app-viewfeature *ngIf="action === 'view'" [feature]="selectedFeature" (featureDeletedEvent)="refreshData()"></app-viewfeature>
        
      </div>
    </div>
    