<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head> 

    <div> 
      <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:linear-gradient(lightseagreen,blue);">
          <div class="container-fluid" >
            <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="propertytype">Properties</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/features">Features</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/userproperty" style="text-align:right; color: whitesmoke;text-decoration: none;">View All Properties</a>
       
                </li>
              
              </ul>
         
              <!--<form class="d-flex">
                <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>-->
                
              
            </div>
          </div>
        </nav>
      </header></div>
    <body style="background-color: whitesmoke;padding: none;border: none;margin: none;">
      <br>
    
        <h3 style="color: whitesmoke;text-align: center;">Property Types</h3>
        <br><br>
       
        <div class="container">
            <div class="row">
              <div class="col">
                <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://e8rbh6por3n.exactdn.com/sites/uploads/2020/05/villa-la-gi-thumbnail.jpg?strip=all&lossy=1&ssl=1" class="card-img-top" style="height: 223px;" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Villa</b></p>
                    </div>
                  </div></a>
              </div>
              <div class="col">
                <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://5.imimg.com/data5/HG/VP/MY-31707728/residential-building-contractors-500x500.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Building</b></p>
                    </div>
                  </div></a>
              </div>
            
              <div class="col">   <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://q-xx.bstatic.com/xdata/images/hotel/840x460/76109618.jpg?k=ba537b048279407e0241cbd138c6dced32572a4f864bdaf5dbb60c314c3003b0&o=" style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Flat</b></p>
                    </div>
                  </div></a>
              </div>
              <div class="col">   <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://imgmedia.lbb.in/media/2019/06/5d088e9f60acf53c3e18991e_1560841887715.jpg" style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Resort</b></p>
                    </div>
                  </div></a>
              </div>
              <br>
              <div class="col"> <br>  <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/f7/8b/38/exterior.jpg?w=900&h=-1&s=1" style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Hotel</b></p>
                    </div>
                  </div></a>
              </div>
              <div class="col"> <br>   <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://airwallpaper.com/wp-content/uploads/wall003/HD-Wallpaper-House.jpg" style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Cottage</b></p>
                    </div>
                  </div></a>
              </div>
              <div class="col"> <br>   <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://i.pinimg.com/originals/3d/53/07/3d5307857a0368806d310139a7970a28.jpg" style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Mansion</b></p>
                    </div>
                  </div></a>
              </div>
              <div class="col"> <br>   <a href="#" style="text-decoration: none;">
                <div class="card" style="width: 15rem;cursor: pointer;">
                    <img src="https://images.mansionglobal.com/im-325828?width=1280&size=1.33333333" style="height: 223px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                        onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Farmhouse</b></p>
                    </div>
                  </div></a>
              </div>
            </div>
        </div>
      </body>