<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        #login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color:yellowgreen;
}
        .login-form-container{
            padding-left: 300px;
    top:120px; left:0;
    height:50%;
    width:900px;
    display: flex;
    align-items: center;
   
    
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: 7rem;
    box-shadow: 5px powderblue;
    border:border;
    background: paleturquoise;
}

.login-form-container form .buttons{
    
    gap:1rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
    border:border;
    padding:1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:whitesmoke;
}

.login-form-container form p a{
    color:purple;
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:black;
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:black;
    cursor: pointer;
}
    </style>
</head>
<div class="login-form-container">

    <span id="close-login-form" class="fas fa-times"></span>

    <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <small style="color: azure;">
            {{msg}}
        </small>
        <h3 style="color: azure;">User Login</h3>
        <input type="email" placeholder="user name" class="box" name="name" [(ngModel)]=tenants.tenantName>
        <input type="password" placeholder="password" class="box"  name="password" [(ngModel)]=tenants.tenantPassword>
        
        <input type="submit" value="login" class="btn btn-info">
       
       
        <p> don't have an account <a routerLink="userregister">create one</a> </p> 
    </form>

</div>