<!-- <div class="reserveDetails" style="text-align: center; " style="text-align: left; width: 250px; align-items: center ; margin-left: 4px;">
    <h2>Reserve details</h2>
  
    <table align="center" border="1" >
      <tr>
        <td>Name</td>
        <td>{{reservation.tenantEmail}}</td>
      </tr>
      <tr>
        <td>Property Name</td>
        <td>{{reservation.propertyName}}</td>
      </tr>
      <tr>
        <td>Reserve Id</td>
        <td>{{reservation.reserveId}}</td>
      </tr>
      <tr>
        <td>Reserved Status</td>
        <td>{{reservation.reservedStatus}}</td>
      </tr>
      <tr>
        <td>Check-In Date</td>
        <td>{{reservation.checkInDate}}</td>
      </tr>
      <tr>
        <td>Check-Out Date</td>
        <td>{{reservation.checkOutDate}}</td>
      </tr>
     
    </table>
    <br>
    <a class="btn btn-small btn-warning" (click)="editReservation()" >Approve</a> 
    <a class="btn btn-small btn-danger" (click)="deleteReservation()"> delete</a>
  </div> -->

  <!-- <section style="background-color:  whitesmoke; " *ngIf="hide" align="center"> -->
    <div class="container"  ><br>
      <div class="row" >
        <div class="col" style="padding-bottom: 20px; " >
            <div class="card" style="width: 30rem;" >
      
              <div class="card-body">
                <h3 class="card-title" style="text-align: left;">reserved Id: {{reservation.reserveId}}  </h3>
                
                  <h6 class="card-title">user Email : {{reservation.tenantEmail}}</h6>
                    <h6 class="card-title">Property : {{reservation.propertyName}} </h6>
                    <h6 class="card-title">user status : {{reservation.reservedStatus}}</h6>
                      <h6 class="card-title">user checkIndate : {{reservation.checkInDate}} </h6>
                      
                        <h6 class="card-title"> user CheckOutDate : {{reservation.checkOutDate}} </h6>
                        <a class="btn btn-small btn-warning" (click)="editReservation()" >Approve</a> 
    <a class="btn btn-small btn-danger" (click)="deleteReservation()"> delete</a>
                      
                      </div>
            <!-- </div></div></div></div></section> -->