
<div> 
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:linear-gradient(lightseagreen,blue);">
        <div class="container-fluid" >
          <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/properties">Properties</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/admin/features">Features</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/messages">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/reservations">Reservations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="http://localhost:4200/admin/reservations">back</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="padding-right:95% ;">Logout</a>
                </li>
            
            </ul>
            <!--<form class="d-flex">
              <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>-->
              <!--(click)="ser()"-->
            
          </div>
        </div>
      </nav>
    </header></div>
    
    
    <h1> Reservations</h1>
    <!-- <a class="btn btn-primary mb-3" (click)="addReservation()">add</a> -->
    <div class="container row" >
        <div   class="col-md-6">
        <!-- <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Property Name</th>
            <th>RESERVED STATUS</th>
            <th>CHECK-IN DATE</th>
            <th>CHECK-OUT DATE</th>
            <th></th>
          </tr>
          </thead>
          <tbody  *ngFor="let reservation of reservations">
          <tr  >
            <td>{{reservation.reserveId}}</td>
            <td>{{reservation.tenantEmail}}</td>
            <td>{{reservation.propertyName}}</td>
            <td>{{reservation.reservedStatus}}</td>
            <td>{{reservation.checkInDate}}</td>
            <th>{{reservation.checkOutDate}}</th>
            <td><button type="button" class="btn btn-primary" (click)="viewReservation(reservation.reserveId)">ShowDetails</button></td>
         
          </tr>
          <td><button type="button" class="btn btn-primary" (click)="cofirmMail(reservation.tenantEmail)">ConfirmMail</button></td>
       
          </tbody>
        </table> -->
      </div>
      <div   class="col-md-6">
        <app-addreservation *ngIf= "action === 'edit' || action === 'add'"  [reservation]="selectedReservation"  (reservationAddedEvent)="refreshData()"></app-addreservation>
        <app-viewreservation *ngIf="action === 'view'" [reservation]="selectedReservation" (reservationDeletedEvent)="refreshData()"></app-viewreservation>
        
      </div>
    </div>


    
                 


    <!-- <div class="col-xs-3 col-sm-3 col-md-3" >
      <div class="card align-items-center" style="width: 18rem; margin:10px; "  *ngFor="let reservation of reservations" >
    
          <div class="card-body" >
           
              <h5 class="card-title" id="namepr" ></h5>
              <p class="card-text"></p>
              <h6 class="card-title" >reserved Id:  {{reservation.reserveId}} <span></span></h6>
                <h6 class="card-title" > user Email : {{reservation.tenantEmail}} <span></span></h6>
                <h6 class="card-title" > Property : {{reservation.propertyName}} <span></span></h6>
                <h6 class="card-title" > user status : {{reservation.reservedStatus}} <span></span></h6>
                <h6 class="card-title" > user checkIndate : {{reservation.checkInDate}} <span></span></h6>
                <h6 class="card-title" > user CheckOutDate : {{reservation.checkOutDate}}</h6>
                <span>
                <button type="button" class="btn btn-primary" (click)="viewReservation(reservation.reserveId)"      >ShowDetails</button>
                </span>
              
                <button type="button" class="btn btn-primary" (click)="cofirmMail(reservation.tenantEmail)">ConfirmMail</button>
       
          </div>
      </div>
  </div> -->
  
  <section style="background-color: whitesmoke;" *ngIf="hide">
    <div class="container" ><br>
      <h3 style="text-align: center;color: whitesmoke;"> Properties That are Avilable</h3><br><br>
      <div class="row">
        <div class="col"  *ngFor="let reservation of reservations" style="padding-bottom: 20px;">
            <div class="card" style="width: 20rem;" >
      
              <div class="card-body">
                <h3 class="card-title" style="text-align: left;">reserved Id:  {{reservation.reserveId}} </h3>
                
                  <h6 class="card-title">user Email : {{reservation.tenantEmail}}</h6>
                    <h6 class="card-title">Property : {{reservation.propertyName}} </h6>
                    <h6 class="card-title">user status : {{reservation.reservedStatus}}</h6>
                      <h6 class="card-title">user checkIndate : {{reservation.checkInDate}} </h6>
                      
                        <h6 class="card-title"> user CheckOutDate : {{reservation.checkOutDate}}</h6>
                        
                        <span>
                          <button type="button" class="btn btn-primary" (click)="viewReservation(reservation.reserveId)"  (click)="Hide()"    >ShowDetails</button>
                          </span>
                        
                          <button type="button" class="btn btn-primary" (click)="cofirmMail(reservation.tenantEmail)">ConfirmMail</button>
                 
                      </div>
            </div></div></div></div></section>