<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
 form{
    padding:2rem;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5rem;
}

 form h3{
    font-size: 3rem;
    color:var(--black);
    padding-bottom: 1rem;
}

 form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
}

.row form textarea{
    height:10rem;
    resize: none;
}


.heading{
    font-size: 3rem;
    text-align: center;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:rgb(250, 250, 112);
    color:black;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:rgb(255, 255, 0);
}

    </style>
    </head>
    <section>
        
    <div class="container">
        
        <div class="row">
            <h1 class="heading" style="font-weight: bolder;">Contact Us</h1>
            <hr style="color: black; width: 100%;height: 3px;border: black;">
          <div class="col">
            <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 32rem; cursor: pointer;">
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15516223.26508763!2d67.2542857016338!3d22.25593911261232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e1!3m2!1sen!2sin!4v1638693263128!5m2!1sen!2sin" allowfullscreen="" loading="lazy" style="height: 693px;"></iframe>
    
              </div></a>
          </div>
          <div class="col">
            
            <div class="card" style="width: 32rem;cursor: pointer;">
                <form action="">
                    <h3>Get in touch</h3>
                    <input type="text" placeholder="your name" class="box">
                    <input type="email" placeholder="your email" class="box">
                    <input type="tel" placeholder="subject" class="box">
                    <textarea placeholder="your message" class="box" cols="30" rows="10"></textarea>
                    <input type="submit" value="send message" class="btn">
                </form>
              </div>
          </div>
        </div>
    </div>
</section>
  
