<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
    </head>
    
  <div> 
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid" >
          <a class="navbar-brand"><img src="https://www.internationalrentalnews.com/Images/780xany/20210325-111231-Home-Depot-Rental-logo.jpg" style="height: 50px;width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/propertytype">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/features">Features</a>
              </li>
             
            
            </ul>
       
            <!--<form class="d-flex">
              <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>-->
              <!--(click)="ser()"-->
            
          </div>
        </div>
      </nav>
    </header></div>
  <form >
      <input  type="search" name="searched" [(ngModel)]="search.propertyName" placeholder="Search" aria-label="Search">
      <button  (click)="ser()" type="button" >Search</button>
      
    </form>
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem;" *ngIf="Featched">
              <img src="{{search.image}}"  style="height: 300px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title" style="text-align: left;">{{search.propertyName}}</h3>
                
                  <h6 class="card-title">City : {{search.cityName}}</h6>
                    <h6 class="card-title">Address : {{search.address}}</h6>
                    <h6 class="card-title">Rating : {{search.propertyRating}}</h6>
                      <h6 class="card-title">Price : {{search.price}}</h6>
                      
                        <h6 class="card-title">Features : {{search.features}}</h6>
                <a routerLink="tlogin"><button class="btn btn-large btn-warning" (click)="onButtonClick()" [disabled]="click">Book</button> </a> 
              </div>
            </div></div></div></div>
            