<div class="ownerDetails">
    <h2>User details</h2>
  
    <table>
      <tr>
        <td>Owner Id</td>
        <td>{{owner.ownerId}}</td>
      </tr>
      <tr>
        <td>Owner Name</td>
        <td>{{owner.ownerName}}</td>
      </tr>
      <tr>
        <td>Owner Email</td>
        <td>{{owner.ownerEmail}}</td>
      </tr>
      <tr>
        <td>Owner Contact</td>
        <td>{{owner.ownerContact}}</td>
      </tr>
  
    </table>
    <br>
    <a class="btn btn-small btn-warning" (click)="editOwner()">edit</a> 
    <a class="btn btn-small btn-danger" (click)="deleteOwner()"> delete</a>
  </div>
