<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        
.footer{
    background: black;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap:1rem;
}

.footer .box-container .box h3{
    
    padding:1rem 0;
    color:whitesmoke;
}

.footer .box-container .box a{
    display: block;
    
    padding:1rem 0;
    color:whitesmoke;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:cyan;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color:cyan;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
   
    
    color:rosybrown;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

    </style>
</head>

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <table style="border: none;text-align: center;font-size: smaller;">
               
           <th> <h3>We are </h3></th><th><h3>avilable at:</h3></th>
            
            <tr ><td>
                
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Hyderabad </a></td>
            <td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Vizag </a></td>
            <tr><td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Mumbai </a></td>
            <td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Chennai </a>
        </td></tr>
        <tr ><td>
                
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Bangalore </a></td>
            <td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Gao </a></td>
            <tr><td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Delhi </a></td>
            <td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Kolkata </a>
        </td></tr>
        <tr ><td>
                
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Kerala </a></td>
            <td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Himachal Pradesh </a></td>
            <tr><td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Uttar Pradesh </a></td>
            <td>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Uttarakhand </a>
        </td></tr>
        </table>
        </div>

        <div class="box" style="padding-left: 30px;">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Property Types </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> homerentals@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i>  India  </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by Home Rentals | all rights reserved </div>

</section>
