<div class="messageDetails">
    <h2>Message details</h2>
  
    <table>
      <tr>
        <td>Message Id</td>
        <td>{{message.messageId}}</td>
      </tr>
      <tr>
        <td>Name </td>
        <td>{{message.name}}</td>
      </tr>
      <tr>
        <td>Message </td>
        <td>{{message.message}}</td>
      </tr>
      <tr>
        <td>Message Reply </td>
        <td>{{message.reply}}</td>
      </tr>
  
    </table>
    <br>
    <a class="btn btn-small btn-warning" (click)="editMessage()">Reply</a> 
    <a class="btn btn-small btn-danger" (click)="deleteMessage()"> delete</a>
  </div>

