<h1>Add Feature</h1>
<form #recievedUser="ngForm">

  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="feature name" [(ngModel)]="feature.featureName" name="name">

   <br>
  <button type="button" class="btn btn-success" (click)="addFeature()">Save</button>
</form>