<h1>Add Property</h1>
<form #recievedUser="ngForm">


  
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="property name" [(ngModel)]="property.propertyName" name="name">

  <label for="rating">Rating</label>
  <input type="text" class="form-control" id="rating" placeholder="rating" [(ngModel)]="property.propertyRating" name="rating">
  
  <label for="cityName">City Name</label>
  <input type="text" class="form-control" id="cityName" placeholder="city name" [(ngModel)]="property.cityName" name="cityName">
  <label for="image">Image</label>
  <input type="text" class="form-control" id="image" placeholder="image path" [(ngModel)]="property.image" name="image">

  <label for="Address">Address</label>
  <input type="text" class="form-control" id="Address" placeholder="address" [(ngModel)]="property.address" name="Address">
  <label for="Price">Price</label>
  <input type="text" class="form-control" id="Price" placeholder="price" [(ngModel)]="property.price" name="Price">
  <label for="Features">Features</label>
  <input type="text" class="form-control" id="Features" placeholder="features" [(ngModel)]="property.features" name="Features">

  
   <br>
  <button type="button" class="btn btn-success" (click)="addProperty()">Save</button>
</form>
