<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
        <style>
            #login-btn .btn{
        margin-top: 0;
    }
    
    #login-btn i{
        display: none;
        font-size: 1rem;
        color:yellowgreen;
    }
            .login-form-container{
                padding-left: 300px;
        top:120px; left:0;
        height:30%;
        width:1000px;
        display: flex;
        align-items: center;
       
        
        z-index: 10000;
    }
    
    .login-form-container.active{
        top:0;
    }
    
    .login-form-container form{
        margin:2rem;
        text-align: center;
        padding:2rem;
        width:40rem;
        border-radius: 3rem;
        box-shadow: 5px black;
        border:border;
        background: paleturquoise;
    }
    
    .login-form-container form .buttons{
        
        gap:1rem;
        align-items: center;
    }
    
    .login-form-container form .btn{
        display: block;
        width:100%;
        margin:.3rem 0;
    }
    
    .login-form-container form .box{
        margin:.2rem 0;
        width: 70%;
        font-size: 1.6rem;
        color:whitesmoke;
        text-transform: none;
        border:border;
        padding:1rem 1.2rem;
        border-radius: .5rem;
    }
    
    .login-form-container form p{
        padding:1rem 0;
        font-size: 1.5rem;
        color:whitesmoke;
    }
    
    .login-form-container form p a{
        color:blueviolet;
        text-decoration: underline;
    }
    
    .login-form-container form h3{
        padding-bottom:1rem;
        font-size: 2rem;
        color:whitesmoke;
        text-transform: uppercase;
    }
    
    .login-form-container #close-login-form{
        position: absolute;
        top:1.5rem; right:2.5rem;
        font-size: 5rem;
        color:whitesmoke;
        cursor: pointer;
    }
        </style>
        
  
  </head>
  <div> 
  <header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"style="background:linear-gradient(lightseagreen,blue);" >
      <div class="container-fluid" >
        <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" (click)="toggle()" (click)="Hide()" >Reservation</a>
            </li>
           
            <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/userreservation"   >back</a>
            </li>
            <a class="nav-link" href="#" style="padding-right:95% ;">Logout</a>
            <!-- <li class="nav-item">
              
              <button (click)="toggle()" > Reservation  </button>
            </li> -->
            <!-- <li class="nav-item">

              <a class="nav-link" routerLink="#recievedUser" (click)="userreservationform()" >Owners</a>
            </li> -->
          
          </ul>
          <form  class="d-flex" style="padding-right: 10px;">
            <input  type="search" name="searched" class="form-control me-2" [(ngModel)]="search.propertyName" placeholder="Search" aria-label="Search">
            <button  (click)="ser()" style="color: white" class="btn btn-outline-success" type="button"  (click)="Hide()"   >Search</button>
            
          </form>
        </div>
      </div>
    </nav>
  </header></div>
<header>
<section style="background-color: whitesmoke;">
  <div class="container"  ><br>
    <h3 style="text-align: center;color: blueviolet;">  Available Properties </h3><br><br>
    <div class="row"  *ngIf="hide">
      <div class="col" *ngFor="let property of properties" style="padding-bottom: 20px;">
          <div class="card" style="width: 20rem;" >
            <img src="{{property.image}}"  style="height: 300px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" style="text-align: left;">{{property.propertyName}}</h3>
              
                <h6 class="card-title">City : {{property.cityName}}</h6>
                  <h6 class="card-title">Address : {{property.address}}</h6>
                  <h6 class="card-title">Rating : {{property.propertyRating}}</h6>
                    <h6 class="card-title">Price : {{property.price}}</h6>
                    
                      <h6 class="card-title">Features : {{property.features}}</h6>





                      
                      <td><button type="button"  style="color: black" class="btn btn-outline-success" (click)="toggle()"  (click)="Hide()" >Book</button></td>
                     
                    </div>
          </div></div></div></div></section>


<header>


 
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="card" style="width: 20rem;" *ngIf="Featched">
            <img src="{{search.image}}"  style="height: 300px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" style="text-align: left;">{{search.propertyName}}</h3>
              
                <h6 class="card-title">City : {{search.cityName}}</h6>
                  <h6 class="card-title">Address : {{search.address}}</h6>
                  <h6 class="card-title">Rating : {{search.propertyRating}}</h6>
                    <h6 class="card-title">Price : {{search.price}}</h6>
                    
                      <h6 class="card-title">Features : {{search.features}}</h6>
              <a routerLink="tlogin"><button class="btn btn-large btn-warning" (click)="onButtonClick()" [disabled]="click">Book</button> </a> 
            </div>
          </div></div></div></div>
<!-- <div  *ngIf="show">
    <div class="card">
  <h1 style="text-align: center;" > Book Reservation</h1>
  
  <form #recievedUser="ngForm" >
    <label for="name">User email</label>
    <input type="text" class="form-control" id=" name" class="box" placeholder="User Email" [(ngModel)]="reservation.tenantEmail" name="name">
    <label for="property name">Property Name</label>
    <input type="text" class="form-control" id="property name"class="box" placeholder="Property name" [(ngModel)]="reservation.propertyName" name="propertyname">
  
    <label for="reserved status">Reserved Status</label>
    <input type="text" class="form-control" id="reserved status"class="box" placeholder="reserved status" [(ngModel)]="reservation.reservedStatus" name="name1">
  
    <label for="checkInDate">Check-in date</label>
    <input type="date" class="form-control" id="checkInDate"class="box" placeholder="check-in date" [(ngModel)]="reservation.checkInDate" name="checkInDate">
   <br/>
    <label for="checkOutDate">Check-out date</label>
    <input type="date" class="form-control" id="checkOutDate"class="box" placeholder="check-out date" [(ngModel)]="reservation.checkOutDate" name="checkOutDate">
  
     <br>
    <button type="button" class="btn btn-success" class="btn btn-info"  (click)="addReservation()">Save</button>
  </form>
   </div></div>
   -->
  

   <div class="login-form-container" *ngIf="show">

    <span id="close-login-form" class="fas fa-times"></span>

    
  <form #recievedUser="ngForm" >
    <h3 style="color: azure;">User Reservation</h3>
  
    <input type="text" class="form-control" id="name" class="box" style="color: black;" placeholder="User email" [(ngModel)]="reservation.tenantEmail" name="name">
  
    
    <input type="text" class="form-control" id="Email"class="box" style="color: black;" placeholder="Property name" [(ngModel)]="reservation.propertyName" name="propertyname">
  
    
    <input type="password" class="form-control" style="color: black;" class="box" id="status" placeholder="status" [(ngModel)]="reservation.reservedStatus" name="name1">
  
    
    <input type="date" class="form-control" class="box" style="color: black;" id="Chech in date" placeholder="Chech in date" [(ngModel)]="reservation.checkInDate" name="checkInDate">
  
    <input type="date" class="form-control" class="box" style="color: black;" id="checkOutDate" placeholder="checkOutDate" [(ngModel)]="reservation.checkOutDate" name="checkOutDate">
  
     
    <button type="button" class="btn btn-success"  class="btn btn-info"  (click)="addReservation()">Save</button>
  </form></div>
