<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
    </head>
<section style="background-color: black;padding: none;border: none;margin: none;">
    <br><br>
    <h3 style="color: rgb(214, 207, 207);text-align: center;">your Dream house</h3>
    <br><br>
   
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" class="card-img-top" style="height: 223px;" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Hyderabad</b></p>
                </div>
              </div></a>
          </div>
          <div class="col">
            <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2020/01/Pebble-Beach-Villas_10th-jan.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Vizag</b></p>
                </div>
              </div></a>
          </div>
        
          <div class="col">   <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://i.pinimg.com/originals/93/b4/cd/93b4cd25d768bb4511ebfa3fff9008af.jpg" style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Mumbai</b></p>
                </div>
              </div></a>
          </div>
          
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://exp.cdn-hotels.com/hotels/5000000/4950000/4942800/4942760/c30c7448_z.jpg?impolicy=fcrop&w=500&h=333&q=medium" style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Chennai</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br>
            <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://www.telegraph.co.uk/content/dam/Travel/hotels/asia/india/taj-bangalore-india-p.jpg" style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Bangalore</b></p>
                </div>
              </div></a>
          </div>
          
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/7e/15/1d/enjoy-at-the-pool-side.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Goa</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://www.visittnt.com/images/delhi/taj-palace-hotel-delhi.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Delhi</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://www.outlookindia.com/outlooktraveller//public/uploads/filemanager/images/Exterior,-ITC-Royal-Bengal.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Kolkata</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2017/02/luxury-hotels-in-munnar.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">kerala</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2016/07/Moksha-Spa-in-Parwanoo.jpg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Himachal Pradesh</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/VBT-Gomti_Nagar_Lucknow/images/gallery/Pool.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Uttar Pradesh</b></p>
                </div>
              </div></a>
          </div>
          <div class="col"><br><br> <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 21rem;cursor: pointer;">
                <img src="https://global-uploads.webflow.com/5cf16f74881a650c03c2f354/6019f64bc617137f7cfbbba2_5dc93b9211520e760af24a46_kempinski%2520berchtesgarden%2520general.jpeg"  style="height: 223px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                    onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Uttarakhand</b></p>
                </div>
              </div></a>
          </div>
        </div>
      </div>
      <br><br>
    </section>
