<h1>Add Message</h1>
<form #recievedUser="ngForm">

  <label for="name">Name</label>
  <input type="text" placeholder="your name" id="name1" [(ngModel)]="message.name"  class="form-control" name="name1">
  <input type="text" class="form-control" id="name" placeholder="message" [(ngModel)]="message.message" name="name2">
  <input type="text" class="form-control" id="name" placeholder="message reply" [(ngModel)]="message.reply" name="name3">

   <br>
  <button type="button" class="btn btn-success" (click)="addMessage()">Save</button>
</form>