
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
    </head>
    <div> 
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:linear-gradient(lightseagreen,blue);" >
        <div class="container-fluid" >
          <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <!-- <li class="nav-item">
                
                <a class="nav-link" routerLink="/admin/owners">Owners</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/properties">Properties</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/admin/features">Features</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/messages">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/reservations">Reservations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/admin/reservations">Back</a>
              </li>
             
            
            </ul>
            <!--<form class="d-flex">
              <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>-->
              <!--(click)="ser()"-->
            
          </div>
        </div>
      </nav>
    </header></div>
    <section style="background-color:whitesmoke;">
      <div class="container" ><br>
        <h3 style="text-align: center;color: whitesmoke;"> Properties</h3><br><br>
        <div class="row">
          <div class="col" *ngFor="let property of properties" style="padding-bottom: 20px;">
              <div class="card" style="width: 20rem;" >
                <img src="{{property.image}}"  style="height: 300px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: left;">{{property.propertyName}}</h3>
                  
                    <h6 class="card-title">City : {{property.cityName}}</h6>
                      <h6 class="card-title">Address : {{property.address}}</h6>
                      <h6 class="card-title">Rating : {{property.propertyRating}}</h6>
                        <h6 class="card-title">Price : {{property.price}}</h6>
                        
                          <h6 class="card-title">Features : {{property.features}}</h6>
                          
                           
                        </div>
              </div></div></div></div></section>


<header>

    