
             
<form #recievedUser="ngForm" method="post" style="margin-right: 500px;;" >
  <div class="container" >
    <h1>Reservation</h1>
    <hr>
    <label for="name" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">User Name</label>
    <input type="text" class="form-control" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;" id=" name" placeholder="tenant name" [(ngModel)]="reservation.name" name="name">
    <br/>
 <label for="name" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">User Email Id</label>
  <input type="text" class="form-control" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;" id=" name" placeholder="tenant email" [(ngModel)]="reservation.tenantEmail" name="tenantEmail">
  <br/>

  <label for="property name" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">Property Name</label>
  <input type="text" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;" class="form-control" id="property name" placeholder="Property name" [(ngModel)]="reservation.propertyName" name="propertyname">
<br/>
  <label for="reserved status" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">Reserved Status</label>
  <input type="text" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;" class="form-control" id="reserved status" placeholder="reserved status" [(ngModel)]="reservation.reservedStatus" name="name1">

  <label for="checkInDate" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">Check-in date</label>
  <input type="date" class="form-control" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;" id="checkInDate" placeholder="check-in date" [(ngModel)]="reservation.checkInDate" name="checkInDate">
 
  <label for="checkOutDate" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">Check-out date</label>
  <input type="date" class="form-control" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;" id="checkOutDate" placeholder="check-out date" [(ngModel)]="reservation.checkOutDate" name="checkOutDate">

   
    <button type="submit" class="registerbtn" (click)="addReservation()" style="text-align: left; width: 250px; align-items: right ; margin-left: 200px;">Register</button>
  </div>
  
  </form>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
      
