<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
    </head>
    <div> 
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-blue bg-blue" style="background:linear-gradient(lightseagreen,blue);">
        <div class="container-fluid" >
          <a class="navbar-brand"><img src="https://www.internationalrentalnews.com/Images/780xany/20210325-111231-Home-Depot-Rental-logo.jpg" style="height: 50px;width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" >
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="propertytype">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="features">Features</a>
              </li>
             
            
            </ul><div style="padding-right: 10px;">
            <a routerLink="ulogin" ><button class="btn btn-outline-success" >OwnerLogin</button></a>
          </div>
       
          
          </div>
        </div>
      </nav>
    </header></div>
   
    