<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
       var slides=document.querySelector('.slider-items').children;
 var nextSlide=document.querySelector(".right-slide");
var prevSlide=document.querySelector(".left-slide");
var totalSlides=slides.length;
var index=0;

nextSlide.onclick=function () {
     next("next");
}
prevSlide.onclick=function () {
     next("prev");
}

function next(direction){

   if(direction=="next"){
      index++;
       if(index==totalSlides){
        index=0;
       }
   } 
   else{
           if(index==0){
            index=totalSlides-1;
           }
           else{
            index--;
           }
    }

  for(i=0;i<slides.length;i++){
          slides[i].classList.remove("active");
  }
  slides[index].classList.add("active");     

}





    </script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .zoom {
          
          transition: transform .10s; 
         
        }
        
        .zoom:hover {
          transform: scale(1.5);
        }
        
        /* body{
	background-color: #444444;
	font-family: sans-serif;
} */

.slider{
	max-width: 1000px;
max-height: 500px;
	margin:20px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}









         
          

        
        </style>   
<script>
  
 var slides=document.querySelector('.slider-items').children;
 var nextSlide=document.querySelector(".right-slide");
var prevSlide=document.querySelector(".left-slide");
var totalSlides=slides.length;
var index=0;

nextSlide.onclick=function () {
     next("next");
}
prevSlide.onclick=function () {
     next("prev");
}

function next(direction){

   if(direction=="next"){
      index++;
       if(index==totalSlides){
        index=0;
       }
   } 
   else{
           if(index==0){
            index=totalSlides-1;
           }
           else{
            index--;
           }
    }

  for(i=0;i<slides.length;i++){
          slides[i].classList.remove("active");
  }
  slides[index].classList.add("active");     

}








</script>
</head>
<app-header></app-header>
   <!-- <section style="padding-top:10px;padding-bottom: 10px; margin: none;border: none;width: 100%;" > -->
    <!-- <div id="carouselExampleCaptions" class="carousel slide container-fluid"  data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.moneycontrol.com/static-mcnews/2021/01/The-Leela-Palace-Udaipur-1-638x435.jpg" style="height:500px;width: 100%;padding-right:30px;padding-left: 30px;">
            <div class="carousel-caption d-none d-md-block">
               
                
            </div>
          </div>
      </div>
    </div> -->
   
    <div class="slider">
      <div class="slider-items">
          <div  class="item active">
             <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/f7/8b/38/exterior.jpg?w=900&h=-1&s=1" />
             <div class="caption">
                
             </div>
          </div>
          <div  class="item">
             <img src="https://andamanislandindia.files.wordpress.com/2015/03/hotel24.jpg" />
             <div class="caption">
                
             </div>
          </div>
          <div  class="item">
             <img src="#" />
             <div class="caption">
              
             </div>
          </div>

      </div>
        <!-- slider controls -->
          <!-- <div class="left-slide"></div>
          <div class="right-slide"></div> -->
        <!-- slider controls -->
   </div>

<!-- </section> -->







    
<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  
  </head>
<section style="background-color: whitesmoke;padding: none;border: none;margin: none;">
  <br><br>
  <h3 style="color: rgb(214, 207, 207);text-align: center;">Dream House</h3>
  <br><br>
 
  <div class="container">
      <div class="row">
        <div class="col">
          <a routerLink="hyderabad" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://images.unsplash.com/photo-1601821139990-9fc929db79ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dXR0YXJha2hhbmQlMjBpbmRpYXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" style="height: 223px;" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Uttarakhand</b></p>
              </div>
            </div></a>
        </div>
        <div class="col">
          <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://andamanislandindia.files.wordpress.com/2015/03/hotel24.jpg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Andaman Islands</b></p>
              </div>
            </div></a>
        </div>
      
        <div class="col">   <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4M6ZCSRfWW5SZljR9ycnelPYhmFfRfgvKJQ&usqp=CAU" style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">lakshadweep</b></p>
              </div>
            </div></a>
        </div>
        
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://exp.cdn-hotels.com/hotels/5000000/4950000/4942800/4942760/c30c7448_z.jpg?impolicy=fcrop&w=500&h=333&q=medium" style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Chennai</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br>
          <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://www.telegraph.co.uk/content/dam/Travel/hotels/asia/india/taj-bangalore-india-p.jpg" style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'"style="text-align: center;font-size:xx-large;">Bangalore</b></p>
              </div>
            </div></a>
        </div>
        
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/7e/15/1d/enjoy-at-the-pool-side.jpg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Goa</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://www.visittnt.com/images/delhi/taj-palace-hotel-delhi.jpg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Delhi</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://www.outlookindia.com/outlooktraveller//public/uploads/filemanager/images/Exterior,-ITC-Royal-Bengal.jpg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Kolkata</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2017/02/luxury-hotels-in-munnar.jpg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">kerala</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2016/07/Moksha-Spa-in-Parwanoo.jpg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Himachal Pradesh</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/VBT-Gomti_Nagar_Lucknow/images/gallery/Pool.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Uttar Pradesh</b></p>
              </div>
            </div></a>
        </div>
        <div class="col"><br><br> <a href="#" style="text-decoration: none;">
          <div class="card" style="width: 21rem;cursor: pointer;">
              <img src="https://global-uploads.webflow.com/5cf16f74881a650c03c2f354/6019f64bc617137f7cfbbba2_5dc93b9211520e760af24a46_kempinski%2520berchtesgarden%2520general.jpeg"  style="height: 223px;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-align: center;color: black;text-shadow: black;"><b onMouseOver="this.style.color='red'"
                  onMouseOut="this.style.color='black'" style="text-align: center;font-size:xx-large;">Uttarakhand</b></p>
              </div>
            </div></a>
        </div>
      </div>
    </div>
    <br><br>
  </section>
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
 form{
    padding:2rem;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5rem;
}

 form h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: 1rem;
}

 form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
}

.row form textarea{
    height:4rem;
    resize: none;
}


.heading{
    font-size: 2rem;
    text-align: center;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.4rem 3rem;
    background:rgb(162, 162, 206);
    color:black;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .5rem;
    font-weight: 300;
    text-align: center;
}

.btn:hover{
    background:lightseagreen;
}

    </style>
    </head>
    <section>
        
    <div class="container">
        
        <div class="row">
            <h1 class="heading" style="font-weight: bolder;">Contact Us</h1>
            <hr style="color: black; width: 50%;height: 1px;border: black;">
         

                
               
                
              
                
                
              
              <form #recievedUser="ngForm">

                    <input type="text" placeholder="your name" id="name1" [(ngModel)]="message.name" class="box" name="name1">
                   
                    <input type="text" class="box" id="name" placeholder="message name" [(ngModel)]="message.message" name="name">
                    <button type="button" class="btn btn-success" (click)="addMessage()">Send</button><br><br>
                    <a routerLink="messageview"><button type="button" class="btn btn-success">view reply</button></a>
            
                </form>
                  </div>
          </div>
     
</section>
  
<footer class="container" style="max-width:100%; margin-top: 20px;" >
  <div class="row text-white bg-dark" style="border-top:3px solid blue;
      padding:0px;
      width:100%;">
      <div class="row">
          <div class="col-md-5" style="text-align:center; ">
              <h3 style="margin:20px;">About Rent A Place </h3>
              
            <p style="margin:20px;">In that website you can find your Dream place to stay and enjoy your life And Our services available in hole India and We provide west service best Rooms,Hotel,Flates,Villas</p>
            <h5 style="margin:20px;">Our Branches </h5>
            <p>Mumbai, Gwalior,Banglore,Nanital,Andaman ,Chennai,Uttarakhand,Himachal Pradesh,Delhi,Kerala,Goa,Kolkata</p>
              
         
          </div>

          <div class="col-md-1 ml-auto">
              <h3  style="margin-left:20px;">Links</h3>
                  <ul style="margin-left:20px;" class="list-unstyled footer-links">
                      <li><a href="#">Home</a></li>
                     
                      <li><a href="#">Your Rent a place</a></li>

                  </ul>
          </div>
      </div>

          <div class="col-lg-12">
              <div >
                 <span >Follow Us :</span>
                   <a target="_blank" href="https://www.facebook.com/Programming Zone"  ><i class="fab fa-facebook pr-3 fa-lg"></i></a>
                   <a target="_blank" href="https://twitter.com/ ProgrammingZone" ><i class="fab fa-twitter pr-3 fa-lg"></i></a>
                   <a target="_blank" href="#" ><i class="fab fa-youtube pr-3 fa-lg"></i></a>
                      
               </div>
          </div> <br><br>
          <div class="col-md-12 text-center">
              <small> Copyright © 2021 All rights reserved  | Designed by <a href="#" style="color:green">YourBooks</a></small>
          </div> <br><br>
  </div>
</footer>


                    <!--End About Section############################################# -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    

<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>



                    <!--End About Section############################################# -->



