<div style="padding-left: 40%;">
    <div class="card" style="width: 20rem;"><h1>Add Owner</h1>
  <form #recievedUser="ngForm">
  
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="owner name" [(ngModel)]="owner.ownerName" name="name">
  
    <label for="Email">Email</label>
    <input type="text" class="form-control" id="Email" placeholder="owner email" [(ngModel)]="owner.ownerEmail" name="Email">
  
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="owner.ownerPassword" name="password">
  
    <label for="Contact">Contact</label>
    <input type="text" class="form-control" id="Contact" placeholder="owner contact" [(ngModel)]="owner.ownerContact" name="Contact">
  
     <br>
    <button type="button" class="btn btn-success" (click)="addOwner()">Save</button>
  </form></div></div>
  