<style>
    .card {
   background-image: url("https://simg.nicepng.com/png/small/208-2087689_chat-support-services-email-icon-png-round.png");
   background-color:whitesmoke;
   background-repeat: no-repeat;
    
    background-position: center;
  }
  </style>
  <body style="background-color: white;">
  <a href="#" style="color: black;text-align: right;padding-left: 90%;text-decoration: none;"><button><h6> back</h6>  </button></a>
  <div style="padding-left: 27%;">
    <div class="card" style="width: 38rem ;">
      <h3 style="text-align: center;">Chat</h3>
      <div *ngFor="let message of messages" >
        <h5>{{message.messageId}}<h5>
        <h5>{{message.name}}</h5>
        <h5 style="background-color: rgb(148, 218, 241); width: 100px;text-align: center;">{{message.message}}</h5>
        <h5 style="  text-align:right;padding-right: 20px;" >{{message.reply}}</h5>
      </h5>
      </h5>
      </div>
      </div>
   </div></body>
    