<div class="featureDetails">
    <h2>Feature details</h2>
  
    <table>
      <tr>
        <td>Feature Id</td>
        <td>{{feature.featureId}}</td>
      </tr>
      <tr>
        <td>Feature Name</td>
        <td>{{feature.featureName}}</td>
      </tr>
  
    </table>
    <br>
    <a class="btn btn-small btn-warning" (click)="editFeature()">edit</a> 
    <a class="btn btn-small btn-danger" (click)="deleteFeature()"> delete</a>
  </div>

