<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script>
      var slideIndex = 0;
      showSlides();
      
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
      </script>
    </head>
    <div> 
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:linear-gradient(lightseagreen,blue);" >
        <div class="container-fluid" >
          <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="propertytype">Top Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="features">Features</a>
              </li>
              <form class="d-flex" style="padding-right: 10px;">
                <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.propertyName" placeholder="Search" aria-label="Search">
                <button  style="color: white" class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>
  
               </form>
            
            </ul><div style="padding-right: 10px;">
              
            <a routerLink="ulogin"  style="color: purple;"><button class="btn btn-outline-success" style="color: whitesmoke;" >OwnerLogin</button></a>
            <a routerLink="search/tlogin" ><button class="btn btn-outline-success" style="color: whitesmoke;" >UserLogin</button></a>
          </div>
       
             <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.propertyName" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>

             </form> -->
            
          </div>
        </div>
      </nav>
    </header></div>
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem;" *ngIf="Featched">
              <img src="{{search.image}}"  style="height: 300px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title" style="text-align: left;">{{search.propertyName}}</h3>
                
                  <h6 class="card-title">City : {{search.cityName}}</h6>
                    <h6 class="card-title">Address : {{search.address}}</h6>
                    <h6 class="card-title">Rating : {{search.propertyRating}}</h6>
                      <h6 class="card-title">Price : {{search.price}}</h6>
                      
                        <h6 class="card-title">Features : {{search.features}}</h6>
                <a routerLink="tlogin"><button class="btn btn-large btn-warning" (click)="onButtonClick()" [disabled]="click" >Book</button> </a> 
              </div>
            </div></div></div></div>
    <!--
    <form >
      <input  type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
      <button  (click)="ser()" type="button" >Search</button>
      (click)="ser()"
    </form>
    <div *ngIf="Featched">
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>property</th>
      </tr>
     <tr>
       <td>
         {{search. searchId}}
       </td>
       <td>
         {{search.name}}
       </td>
       <td *ngFor="let serch of search.property">
        <td>
          {{search.property}}
        </td>
       
     </tr>
    </table>
     
    </div>-->
    