
<div> 
    <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:linear-gradient(lightseagreen,blue);">
        <div class="container-fluid" >
          <a class="navbar-brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQntiT6nDZxoIa-5t6gfoqSJ8PuCzOqTYJRkg&usqp=CAU" style="height: 50px;width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/propertytype">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/features">Features</a>
              </li>
             
            
            </ul>
       
            <!--<form class="d-flex">
              <input class="form-control me-2" type="search" name="searched" [(ngModel)]="search.name" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" (click)="ser()" type="button" >Search</button>-->
              <!--(click)="ser()"-->
            
          </div>
        </div>
      </nav>
    </header></div>
    <section style="background-color: whitesmoke;">
    <div class="container" ><br>
      <h3 style="text-align: center;color: whitesmoke;"> Properties That are Avilable</h3><br><br>
      <div class="row">
        <div class="col" *ngFor="let property of properties" style="padding-bottom: 20px;">
            <div class="card" style="width: 20rem;" >
              <img src="{{property.image}}"  style="height: 300px;" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title" style="text-align: left;">{{property.propertyName}}</h3>
                
                  <h6 class="card-title">City : {{property.cityName}}</h6>
                    <h6 class="card-title">Address : {{property.address}}</h6>
                    <h6 class="card-title">Rating : {{property.propertyRating}}</h6>
                      <h6 class="card-title">Price : {{property.price}}</h6>
                      
                        <h6 class="card-title">Features : {{property.features}}</h6>
                        
                         <td><button type="button" onclick="location.href = '/search/tlogin';" (click)="serv() "  [disabled]=flag class="btn btn-primary" >Book</button></td>
                
                      </div>
            </div></div></div></div></section>